
<br/>
<h2 class="text-center">Actors Info</h2>
<br/>
<table class="table table-dark table-striped d-flex justify-content-center" >

<tr>
<th>Actor First Name</th>
<th>Actor Last Name</th>
<th>Actor Gender</th>

</tr>
<%@actors.each do|actor|%>

<tr>
<td><%=link_to actor.actor_f_name,actor%>
<td><%=actor.actor_l_name%></td>
<td><%=actor.actor_gender%></td>
</tr>


<% end %>
</table>
<style>
a{
  text-decoration:none !important;
  color:white;
}
</style>