<br/>
<h2 class="text-center" style="color:white;">Insert Movies Here</h2> 
<br/>
<div class="d-flex justify-content-center align-items-center">
<%=render "form",movie: @movie, actor: @actor%>

</div>